.App {
  font-family: "Unna", serif;
  background-color: #f5e8c7;
  opacity: 0.8;
  background-image: linear-gradient(
    to right,
    #deba9d,
    #deba9d 10px,
    #f5e8c7 10px,
    #f5e8c7
  );
  background-size: 20px 100%;
}

.App h1 {
  text-align: center;
  color: #5d4633;
  font-family: "Special Elite", cursive;
}

.App-logo {
  width: 60%;
  display: block;
  margin: 0 auto;
  padding: 30px 10px 30px 0px;
}

.App-footer {
  text-align: center;
  margin: 30px 0;
}

.App-footer a {
  text-decoration: none;
}

.App .dictionaryApp {
  flex-grow: 4;
}

.App .cog-image {
  max-width: 100px;
  margin-bottom: -10px -15px;
  animation: rotation 2s infinite linear;
  animation-direction: reverse;
}

.App .cog-image-minor {
  max-width: 90px;
  margin: -15px;
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 900px) {
  .App .cog-image {
    max-width: 50px;
    margin: 10px -2px;
  }

  .App .cog-image-minor {
    max-width: 45px;
    margin: 30px -6px;
  }

  .App h1 {
    font-size: 48px;
  }

  .App-logo {
    width: 80%;
    padding: 10px;
  }
}
