.Dictionary {
  max-width: 800px;
  margin: 0 auto;
  background-color: rgb(250, 243, 224);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 10px 10px rgba(0 0 0 / 10%);
}

.Dictionary h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.Dictionary section {
  background: white;
  padding: 30px;
  border-radius: 13px;
  box-shadow: 0px 10px 10px rgba(0 0 0 / 5%);
  margin: 20px 0;
}

.Dictionary form {
  display: flex;
}

.Dictionary input {
  display: flex;
  border-radius: 8px 1px 1px 8px;
  padding: 6px 10px;
  color: rgb(182, 137, 115);
  border: 1px solid #ddd;
  flex-grow: 2;
}

.Dictionary button {
  border-radius: 1px 8px 8px 1px;
  border-color: rgba(157, 157, 157, 0.5);
}

.Dictionary .hint {
  color: rgb(182, 137, 115);
  font-size: 11px;
  margin-top: 5px;
}
