.Synonyms {
  margin: 30px 0 0;
  padding: 0;
}

.Synonyms li {
  font-size: 14px;
  border: 1px solid #eabf9f;
  background: rgb(250, 243, 224);
  border-radius: 25px;
  display: inline-block;
  padding: 5px 10px;
  margin: 3px;
  line-height: 1;
}
